@{
    ViewBag.Title = "Arslan Pharmacy";
}



<div id="main">
    <div class="container-fluid">
        <div class="page-header">
            <div class="pull-left">
                <h1>Dashboard</h1>
            </div>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li>
                    <a href="#">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
            </ul>
            <div class="close-bread">
                <a href="#"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="main-content">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="tiles">
                        <li class="orange high long">
                            <a href="#"><span class='count'><i class="icon-medkit"></i> </span><span class='name'>PRODUCTS</span></a>
                        </li>
                        <li class="pink long high">
                            <a href="#"><span><i class="icon-shopping-cart"></i></span><span class='name'>PURCHASE</span></a>
                        </li>
                        <li class="blue high long">
                            <a href="#"><span class='count'><i class="icon-ambulance"></i></span><span class='name'>SUPPLIER</span></a>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <ul class="tiles">
                        <li class="lime high long">
                            <a href="#"><span class='count'><i class="icon-credit-card"></i></span><span class='name'>SALE</span></a>
                        </li>
                        <li class="teal high long">
                            <a href="#"><span class='count'><i class="icon-user"></i></span><span class='name'>EMPLOYEES</span></a>
                        </li>
                        <li class="green high long">
                            <a href="#"><span class='count'><i class="icon-print"></i></span><span class='name'>REPORTS</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>





